<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
 <div class="login">
	<h1>Predict Air Quality via PM 2.5</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="experience" placeholder="T" required="required" />
        <input type="text" name="test_score" placeholder="TM" required="required" />
		<input type="text" name="interview_score1" placeholder="Tm" required="required" />
        <input type="text" name="interview_score2" placeholder="SLP" required="required" />
        <input type="text" name="interview_score3" placeholder="H" required="required" />
        <input type="text" name="interview_score4" placeholder="VV" required="required" />
        <input type="text" name="interview_score5" placeholder="V" required="required" />
        <input type="text" name="interview_score6" placeholder="VM" required="required" />


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>